{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div class="row border rounded shadow-sm my-3">
        <div class="col p-5 text-center">
            <span class="h1">{{ user.username }}</span>
            <div class="row">
                <div class="col">
                    followers
                </div>
            </div>
            <div class="row">
                <div class="col">
                    following
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}