{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <!-- Profile details -->
    <div class="row border rounded shadow-sm my-3">
        <div class="col p-5 text-center">
            <span class="h1">{{ user.username }}</span>
            <div class="row my-2">
                <div class="col">
                    <span class="font-weight-bold">{{ user.followers.all.count }}</span> followers
                </div>
            </div>
            <div class="row my-2">
                <div class="col">
                    <span class="font-weight-bold">{{ user.follows.all.count }}</span> following
                </div>
            </div>
            {% if request.user != user %}
                <div class="row my-2">
                    <div class="col">
                        <button class="btn btn-primary">Follow</button>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}